---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Generator Ayat Al-Quran Harian Bersama Ashel" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
 	 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<title>{title}</title>
        </head>
	<body class="bg-[#0f172a] text-slate-200 font-sans selection:bg-gold selection:text-black">
		<slot />
	</body>
</html>